*,
*::before,
*::after {
  margin:0;
  padding:0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-display;
  color: $grey-text;
  font-weight: 300;
  line-height: 1.6;

  // Minimum 15px, and grows more slowly
  // (half the rate of screen growth)
  //font-size: calc(1.5rem + 0.5vw);
  font-size: 18px;
}

section {
  min-height: 800px;
}

