// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

// Don’t use grey text on colored backgrounds
$dark-text: hsl(0,0%,13%);
$grey-text: hsl(0,0,29%);
$light-grey-text: hsl(0,0,45%);

// Other greys
$color-grey-light-2: #aaa;
$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
